/* styles */
body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

footer 
{
    text-align: center; /* Center-aligns inline-block elements */
    margin: 20px 0;
}

img 
{
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto;    /* Maintains the aspect ratio of the image */
    display: block;  /* Prevents extra space at the bottom of the image */
    margin: 0 auto; /* Automatically centers the element horizontally */
}

a 
{
    all: unset; /* Resets all styles (including inline styles) */
    display: inline; /* Set back to default display for <a> */
    cursor: pointer;
}

/* Wrapper: Flexbox for layout -- make footer always at bottom (by streaching main to 100vh with flex: 1)*/
.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}